.profile {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 74px;
}

.profile__form {
  padding-top: 123px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profile__label {
  position: relative;
}

.profile__label:first-child:before {
  position: absolute;
  content: "Имя";
}

.profile__label:nth-last-child(2):before {
  position: absolute;
  content: "E-mail";
}

.profile__input {
  background-color: transparent;
  border: none;
  color: white;
  text-align: end;
  width: 100%;
  outline: none;
}

.profile__input:focus {
  border-bottom: 1px solid #4285f4;
}

.profile__submit {
  margin-top: 220px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.profile__submit:hover {
  text-shadow: rgb(0, 255, 149) 1px 0 10px;
}

.profile__submit_disabled {
  margin-top: 220px;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.4);
}

.profile__logout {
  margin-top: 16px;
  padding: 0;
  color: rgba(238, 52, 101, 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }
}

@media screen and (max-width: 640px) {
  .profile {
    padding: 70px 30px;
    box-sizing: border-box;
  }
}
