.portfolio {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 70px 125px 70px;
}

.portfolio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.portfolio__link {
  text-decoration: none;
  color: white;
}
