.color_primary {
  background-color: #3ddc84;
  color: black !important;
}

.color_secondary {
  background-color: #303030;
}

.color_text {
  color: rgba(139, 139, 139, 1);
}

.color_background {
  background-color: #272727;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(18 / 12);
}

.text_title {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: calc(58 / 50);
}

.text_subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.text_medium {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(50 / 30);
}

.underline-p25 {
  position: relative;
  padding-bottom: 25px;
}

.underline-p25::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(218, 218, 218, 1);
  bottom: 0;
  left: 0;
}

.underline-p20 {
  position: relative;
  padding-bottom: 20px;
}

.underline-p20::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(66, 66, 66, 1);
  bottom: 0;
  left: 0;
}
