.color_primary {
  background-color: #3ddc84;
  color: black !important;
}

.color_secondary {
  background-color: #303030;
}

.color_text {
  color: rgba(139, 139, 139, 1);
}

.color_background {
  background-color: #272727;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(18 / 12);
}

.text_title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(24 / 20);
}
