.filter__label {
  position: relative;
  display: inline-block;
  width: 168px;
  height: 20px;
}

.filter__label .filter__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter__switch {
  max-width: 36px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.filter__switch:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.filter__switch:after {
  position: absolute;
  content: "Короткометражки";
  top: 0;
  left: 50px;
}

.filter__input:checked + .filter__switch {
  background-color: rgba(61, 220, 132, 1);
}

.filter__input:focus + .filter__switch {
  box-shadow: 0 0 1px #2196f3;
}

.filter__input:checked + .filter__switch:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

@media screen and (max-width: 640px) {
  .filter {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 45px);
  }
}
