@keyframes openCloseModal {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", "Arial", sans-serif;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  visibility: hidden;
  animation: openCloseModal 5s 1 ease;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__container {
  box-sizing: border-box;
  position: relative;
  max-width: 430px;
  width: 100%;
  background-color: rgba(47, 47, 47, 1);
  border-radius: 10px;
  padding: 36px;
  text-align: center;
  z-index: 1;
}

.modal__image {
  padding-top: 24px;
  padding-bottom: 32px;
}

.modal__close {
  position: absolute;
  padding: 0;
  width: 32px;
  height: 32px;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images/close.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(40px, -40px);
  border: none;
  cursor: pointer;
  transition: opacity 0.6s;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__title {
  color: rgba(139, 139, 139, 1);
  font-size: 24px;
  line-height: calc(29 / 24);
  font-weight: 900;
  padding-bottom: 40px;
  margin: 0;
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .modal__title {
    font-size: 18px;
    line-height: calc(22 / 18);
    padding-bottom: 68px;
  }
}

@media screen and (max-width: 768px) {
  .modal__close {
    width: 20px;
    height: 20px;
    transform: translate(0, -36px);
  }
}

@media screen and (max-width: 768px) {
  .modal__container {
    padding: 25px 22px;
    max-width: 282px;
  }
}
