.footer {
  display: flex;
  flex-direction: column;
  padding: 80px 70px 20px 70px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  flex: 1;
  justify-content: flex-end;
}

.footer__title {
  text-align: center;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 80px 50px 20px 50px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding: 80px 10px 10px 10px;
  }

  .footer__row {
    align-items: center;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .footer__list {
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }
}
